<div id="reviews">
    <div class="container">
        <h1 class="sub-title">Reviews</h1>
        <div class="reviews-list">
            <div>
                <h4>Akash Rajak</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, dicta cumque perferendis eveniet
                    itaque, nisi architecto modi ipsa commodi culpa non laborum ea? Vel, blanditiis!</p>
            </div>
            <div>
                <h4>Akash Rajak</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, dicta cumque perferendis eveniet
                    itaque, nisi architecto modi ipsa commodi culpa non laborum ea? Vel, blanditiis!</p>
            </div>
            <div>
                <h4>Akash Rajak</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, dicta cumque perferendis eveniet
                    itaque, nisi architecto modi ipsa commodi culpa non laborum ea? Vel, blanditiis!</p>
            </div>
            <div>
                <h4>Akash Rajak</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, dicta cumque perferendis eveniet
                    itaque, nisi architecto modi ipsa commodi culpa non laborum ea? Vel, blanditiis!</p>
            </div>
            <div>
                <h4>Akash Rajak</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, dicta cumque perferendis eveniet
                    itaque, nisi architecto modi ipsa commodi culpa non laborum ea? Vel, blanditiis!</p>
            </div>
            <div>
            
                    <h4>Akash Rajak</h4>
                <i class="bi bi-twitter"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, dicta cumque perferendis eveniet
                    itaque, nisi architecto modi ipsa commodi culpa non laborum ea? Vel, blanditiis!</p>
            
            </div>
        </div>
    </div>
</div>