<div class="row" >
    <h1>About us</h1>
    
    <section class="home" id="home" >
        <div class="max-width">
            <div class="home-content" >
                <div class="text-1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, illo. Rerum vel
                    voluptate nulla velit perferendis sequi fuga maxime? Dignissimos voluptatum praesentium aut magnam,
                    voluptatibus fugiat ipsa repudiandae iusto, exercitationem doloribus temporibus harum numquam.</div>
            </div>

        </div>
        <div class="Backimage">

            <img src="../../../assets/about.jpg" alt="" height="100%" width="100%">
        </div>
    </section>
</div>