<body>
  <h1>REVIEW BASED SYSTEM</h1>

  <br>
  <br>
  <div class="container">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod saepe inventore mollitia vitae. Alias voluptatibus
      magnam veniam expedita tempora quas error, eveniet voluptate provident asperiores numquam. Illum odit consequuntur
      corporis. </p>
  </div>

  <div class="container" id="button">

    <div class="btn">
      <div class="row">
        <div class="col-5">
          <input type="Button" class="btn btn-primary"  routerLink="addreview" value="Add Review">
          <!-- <a  routerLink="../addreview"  > Add Review</a> -->
        </div>
        <div class="col-5">
          <input type="Button" class="btn btn-primary"   routerLink="viewreview" value="View Review">
        </div>
      </div>
    </div>
  </div>
</body>